# About the Probleam/Task

Take care of your employees: 
A drastic thing happened and ABCXYZ123 Technical Solutions have lost one of their important employees. 
The company is now very concerned about the health of their employees and would want you to find that 
set of employees who are in need or may be in need of treatment, taking into account multiple attributes 
that are already stored in the database. So buckle up the wellness of your employees is in your hand.


The objective of the problem:
The objective is to predict values “treatment” attribute from the given features of the Test data.
The predictions are to be written to a CSV file along with ID which is the unique identifier for each tuple.

Importing Libraries and Datasets to understand the Datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.preprocessing import LabelEncoder, StandardScaler
label = LabelEncoder()
Ss = StandardScaler()
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import f1_score, accuracy_score


import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('training_.csv')
test = pd.read_csv('test.csv')

In [3]:
train.shape, test.shape

((1048, 28), (210, 27))

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       1048 non-null   int64
 1   Timestamp                  1048 non-null   object
 2   Age                        1048 non-null   int64
 3   Gender                     1048 non-null   object
 4   Country                    1048 non-null   object
 5   state                      636 non-null    object
 6   self_employed              1030 non-null   object
 7   family_history             1048 non-null   object
 8   treatment                  1048 non-null   object
 9   work_interfere             812 non-null    object
 10  no_employees               1048 non-null   object
 11  remote_work                1048 non-null   object
 12  tech_company               1048 non-null   object
 13  benefits                   1048 non-null   object
 14  care_options               1048 non-null   object
 15  wellness_program           1048 non-null   object
 16  seek_help                  1048 non-null   object
 17  anonymity                  1048 non-null   object
 18  leave                      1048 non-null   object
 19  mental_health_consequence  1048 non-null   object
 20  phys_health_consequence    1048 non-null   object
 21  coworkers                  1048 non-null   object
 22  supervisor                 1048 non-null   object
 23  mental_health_interview    1048 non-null   object
 24  phys_health_interview      1048 non-null   object
 25  mental_vs_physical         1048 non-null   object
 26  obs_consequence            1048 non-null   object
 27  comments                   132 non-null    object
dtypes: int64(2), object(26)
memory usage: 229.4+ KB

In [5]:
train.describe(include = 'all')

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,1048.000000,1048,1.048000e+03,1048,1048,636,1030,1048,1048,812,...,1048,1048,1048,1048,1048,1048,1048,1048,1048,132
unique,NaN,1035,NaN,45,42,45,2,2,2,4,...,5,3,3,3,3,3,3,3,2,128
top,NaN,2014-08-27 15:23:51,NaN,Male,United States,CA,No,No,No,Sometimes,...,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No,* Small family business - YMMV.
freq,NaN,2,NaN,518,644,123,906,643,536,386,...,466,424,773,651,439,835,461,471,902,5
mean,524.500000,NaN,9.541988e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,302.675844,NaN,3.089010e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,-1.726000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,262.750000,NaN,2.700000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,524.500000,NaN,3.100000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,786.250000,NaN,3.600000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1048.000000,NaN,1.000000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       210 non-null    int64
 1   Timestamp                  210 non-null    object
 2   Age                        210 non-null    int64
 3   Gender                     210 non-null    object
 4   Country                    210 non-null    object
 5   state                      107 non-null    object
 6   self_employed              210 non-null    object
 7   family_history             210 non-null    object
 8   work_interfere             182 non-null    object
 9   no_employees               210 non-null    object
 10  remote_work                210 non-null    object
 11  tech_company               210 non-null    object
 12  benefits                   210 non-null    object
 13  care_options               210 non-null    object
 14  wellness_program           210 non-null    object
 15  seek_help                  210 non-null    object
 16  anonymity                  210 non-null    object
 17  leave                      210 non-null    object
 18  mental_health_consequence  210 non-null    object
 19  phys_health_consequence    210 non-null    object
 20  coworkers                  210 non-null    object
 21  supervisor                 210 non-null    object
 22  mental_health_interview    210 non-null    object
 23  phys_health_interview      210 non-null    object
 24  mental_vs_physical         210 non-null    object
 25  obs_consequence            210 non-null    object
 26  comments                   32 non-null     object
dtypes: int64(2), object(25)
memory usage: 44.4+ KB

In [7]:
test.describe(include = 'all')

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,210.000000,210,210.000000,210,210,107,210,210,182,210,...,210,210,210,210,210,210,210,210,210,32
unique,NaN,210,NaN,14,29,23,2,2,4,6,...,5,3,3,3,3,3,3,3,2,32
top,NaN,2014-09-01 17:59:14,NaN,Male,United States,CA,No,No,Sometimes,More than 1000,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,When I've had a depression I was lucky to have...
freq,NaN,1,NaN,96,106,15,189,123,79,55,...,97,97,151,122,77,172,96,105,173,1
mean,105.500000,NaN,32.547619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,60.765944,NaN,8.061968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,53.250000,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,105.500000,NaN,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,157.750000,NaN,37.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,210.000000,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Mining/Cleaning

In [8]:
test.isna().sum()

S.No                           0
Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        103
self_employed                  0
family_history                 0
work_interfere                28
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     178
dtype: int64

In [9]:
train.isna().sum()

S.No                           0
Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        412
self_employed                 18
family_history                 0
treatment                      0
work_interfere               236
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
comments                     916
dtype: int64

After looking into the dataset here are the things that i noticed:

1. Amoung 28 columns in training dataset 25 are of 'object' datatype and 2 are int64 
   and Timestamp is object which need is to be converted to datetime_dtype.
2. state column has 412 missing values in Training Dataset and 103 in Testing.
3. work_interfere column has 236 missing values in Training Dataset and 28 in Testing.
4. self_employed column has 18 missing values in Training Dataset.
5. comments column has 916 missing values in Training Dataset and 178 in Testing.

MY Views:

1. Drop comments columm from Training and Testing datasets as almost 90% of data is missing.
   so it cannot be considered as Important feature for predicting the Outcome.
2. since state and work_interfere columns are object datatypes they are to be filled with mode.
3. object columns are to be converted using LabelEncoder for predicting the Outcome.

In [10]:
train['Timestamp'] = pd.to_datetime(train['Timestamp'])
test['Timestamp'] = pd.to_datetime(test['Timestamp'])

In [11]:
train['Year'] = train['Timestamp'].dt.year
train['Month'] = train['Timestamp'].dt.month
train['Day'] = train['Timestamp'].dt.day
train['Hours'] = train['Timestamp'].dt.hour
train['Minutes'] = train['Timestamp'].dt.minute
train['Seconds'] = train['Timestamp'].dt.second
train['Weekdays'] = train['Timestamp'].dt.weekday
train['Weeks'] = train['Timestamp'].dt.week

In [12]:
test['Year'] = test['Timestamp'].dt.year
test['Month'] = test['Timestamp'].dt.month
test['Day'] = test['Timestamp'].dt.day
test['Hours'] = test['Timestamp'].dt.hour
test['Minutes'] = test['Timestamp'].dt.minute
test['Seconds'] = test['Timestamp'].dt.second
test['Weekdays'] = test['Timestamp'].dt.weekday
test['Weeks'] = test['Timestamp'].dt.week

In [13]:
#drop comments column
Train = train.drop(['comments','Timestamp'], axis = 1)
Test = test.drop(['comments','Timestamp'], axis = 1)

In [14]:
#filling values of missing columns with mode()[0]

#State column
Train['state'] = Train['state'].fillna(Train['state'].mode()[0])
Test['state'] = Test['state'].fillna(Test['state'].mode()[0])

#self_employed column
Train['self_employed'] = Train['self_employed'].fillna(Train['self_employed'].mode()[0])

#work_interfere column
Train['work_interfere'] = Train['work_interfere'].fillna(Train['work_interfere'].mode()[0])
Test['work_interfere'] = Test['work_interfere'].fillna(Test['work_interfere'].mode()[0])

In [15]:
Train['Gender'].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr'], dtype=object)

In [16]:
Train['Gender'] = Train['Gender'].replace(['M', 'Male', 'male', 'm', 'Male-ish', 'maile', 'something kinda male?',
                                           'Cis Male', 'Mal', 'Male (CIS)', 'Make', 'male leaning androgynous',
                                           'Male ', 'Man', 'msle', 'Mail', 'cis male','Malr', 'Cis Man'],'MALE')
Test['Gender'] = Test['Gender'].replace(['M', 'Male', 'male', 'm', 'Male-ish', 'maile', 'something kinda male?',
                                         'Cis Male', 'Mal', 'Male (CIS)', 'Make', 'male leaning androgynous',
                                         'Male ', 'Man', 'msle', 'Mail', 'cis male','Malr', 'Cis Man'],'MALE')

In [17]:
Train['Gender'] = Train['Gender'].replace(['Female', 'Trans woman', 'female', 'Trans-female', 'Cis Female', 'F',
                                           'Woman', 'f', 'queer/she/they', 'Femake', 'woman', 'fluid', 'Genderqueer', 
                                           'Female ', 'cis-female/femme', 'Female (trans)', 
                                           'queer', 'Female (cis)', 'femail'],'FEMALE')

Test['Gender'] = Test['Gender'].replace(['Female', 'Trans woman', 'female', 'Trans-female', 'Cis Female', 'F',
                                         'Woman', 'f', 'queer/she/they', 'Femake', 'woman', 'fluid', 'Genderqueer', 
                                         'Female ', 'cis-female/femme', 'Female (trans)', 
                                         'queer', 'Female (cis)', 'femail'],'FEMALE')

In [18]:
Train['Gender'] = Train['Gender'].replace(['non-binary', 'Nah', 'All', 'Enby', 'Androgyne',
                                           'Agender', 'Guy (-ish) ^_^', 'Neuter', 'A little about you', 'p',
                                           'ostensibly male, unsure what that really means'],'OTHERS')

Test['Gender'] = Test['Gender'].replace(['non-binary', 'Nah', 'All', 'Enby', 'Androgyne',
                                         'Agender', 'Guy (-ish) ^_^', 'Neuter', 'A little about you', 'p',
                                         'ostensibly male, unsure what that really means'],'OTHERS')

In [19]:
Train['Gender'].unique()

array(['FEMALE', 'MALE', 'OTHERS'], dtype=object)

In [20]:
Train['Age'].unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8],
      dtype=int64)

In [21]:
Train['Age'] = Train['Age'].replace([99999999999, 1726, 29, 329, ], 31)

In [22]:
Test['Age'].unique()

array([39, 26, 23, 35, 36, 42, 27, 33, 31, 28, 29, 44, 25, 24, 34, 48, 43,
       41, 40, 37, 32, 30, 38, 11, 45, 50, 46, 20, -1, 21, 51, 72, 56, 60,
       22], dtype=int64)

In [23]:
Test['Age'] = Test['Age'].replace([-1],32)

In [24]:
Train1 = Train
Test1 = Test

In [25]:
for i in Train1.columns:
    if (Train1[i].dtypes == 'object'):
        Train1[i] = label.fit_transform(Train1[i])
        
for i in Test1.columns:
    if (Test1[i].dtypes == 'object'):
        Test1[i] = label.fit_transform(Test1[i])

In [26]:
X = Train1.drop(['treatment'], axis = 1)
y = Train1[['treatment']]
y.head()

   treatment
0          1
1          0
2          0
3          1
4          0

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 3164)

In [28]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log = log.fit(X_train, y_train)
y_pred1 = log.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred1)
print('MSE:     ', MSE)
rmse1 = np.sqrt(MSE)
print('rmse is:    ',rmse1)
f1_score1 = f1_score(y_test, y_pred1, average = 'weighted')
print("f1_score is:     ", f1_score1)
accuracy_score1 = accuracy_score(y_test, y_pred1)
print("accuracy_score is:     ", accuracy_score1)

MSE:      0.3476190476190476
rmse is:     0.5895922723535711
f1_score is:      0.6495384685860875
accuracy_score is:      0.6523809523809524

In [29]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn = knn.fit(X_train, y_train)
y_pred6 = knn.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred6)
print('MSE:     ', MSE)
rmse6 = np.sqrt(MSE)
print('rmse is:    ',rmse6)
f1_score6 = f1_score(y_test, y_pred6, average = 'weighted')
print("f1_score is:     ", f1_score6)
accuracy_score6 = accuracy_score(y_test, y_pred6)
print("accuracy_score is:     ", accuracy_score6)

MSE:      0.46190476190476193
rmse is:     0.6796357567879738
f1_score is:      0.537875038780807
accuracy_score is:      0.5380952380952381

In [30]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb = gnb.fit(X_train, y_train)
y_pred7 = gnb.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred7)
print('MSE:     ', MSE)
rmse7 = np.sqrt(MSE)
print('rmse is:    ',rmse7)
f1_score7 = f1_score(y_test, y_pred7, average = 'weighted')
print("f1_score is:     ", f1_score7)
accuracy_score7 = accuracy_score(y_test, y_pred7)
print("accuracy_score is:     ", accuracy_score7)

MSE:      0.37142857142857144
rmse is:     0.609449400220044
f1_score is:      0.6061758900100768
accuracy_score is:      0.6285714285714286

In [31]:
from sklearn.svm import SVC
svc = SVC()
svc = svc.fit(X_train, y_train)
y_pred9 = svc.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred9)
print('MSE:     ', MSE)
rmse9 = np.sqrt(MSE)
print('rmse is:    ',rmse9)
f1_score9 = f1_score(y_test, y_pred9, average = 'weighted')
print("f1_score is:     ", f1_score9)
accuracy_score9 = accuracy_score(y_test, y_pred9)
print("accuracy_score is:     ", accuracy_score9)

MSE:      0.49047619047619045
rmse is:     0.7003400534570263
f1_score is:      0.3439687546943067
accuracy_score is:      0.5095238095238095

In [32]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc = dtc.fit(X_train, y_train)
y_pred2 = dtc.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred2)
print('MSE:     ', MSE)
rmse2 = np.sqrt(MSE)
print('rmse is:    ',rmse2)
f1_score2 = f1_score(y_test, y_pred2, average = 'weighted')
print("f1_score is:     ", f1_score2)
accuracy_score2 = accuracy_score(y_test, y_pred2)
print("accuracy_score is:     ", accuracy_score2)

MSE:      0.38095238095238093
rmse is:     0.6172133998483676
f1_score is:      0.617832847424684
accuracy_score is:      0.6190476190476191

In [33]:
from sklearn.ensemble import AdaBoostClassifier
abc = AdaBoostClassifier()
abc = abc.fit(X_train, y_train)
y_pred4 = abc.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred4)
print('MSE:     ', MSE)
rmse4 = np.sqrt(MSE)
print('rmse is:    ',rmse4)
f1_score4 = f1_score(y_test, y_pred4, average = 'weighted')
print("f1_score is:     ", f1_score4)
accuracy_score4 = accuracy_score(y_test, y_pred4)
print("accuracy_score is:     ", accuracy_score4)

MSE:      0.29523809523809524
rmse is:     0.5433581647846062
f1_score is:      0.7038204567541302
accuracy_score is:      0.7047619047619048

In [34]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc = rfc.fit(X_train, y_train)
y_pred3 = rfc.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred3)
print('MSE:     ', MSE)
rmse3 = np.sqrt(MSE)
print('rmse is:    ',rmse3)
f1_score3 = f1_score(y_test, y_pred3, average = 'weighted')
print("f1_score is:     ", f1_score3)
accuracy_score3 = accuracy_score(y_test, y_pred3)
print("accuracy_score is:     ", accuracy_score3)

MSE:      0.2571428571428571
rmse is:     0.50709255283711
f1_score is:      0.7422955422955424
accuracy_score is:      0.7428571428571429

In [35]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
gbc = gbc.fit(X_train, y_train)
y_pred5 = abc.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred5)
print('MSE:     ', MSE)
rmse5 = np.sqrt(MSE)
print('rmse is:    ',rmse5)
f1_score5 = f1_score(y_test, y_pred5, average = 'weighted')
print("f1_score is:     ", f1_score5)
accuracy_score5 = accuracy_score(y_test, y_pred5)
print("accuracy_score is:     ", accuracy_score5)

MSE:      0.29523809523809524
rmse is:     0.5433581647846062
f1_score is:      0.7038204567541302
accuracy_score is:      0.7047619047619048

In [36]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb = xgb.fit(X_train, y_train)
y_pred8 = xgb.predict(X_test)
MSE = metrics.mean_squared_error(y_test,y_pred8)
print('MSE:     ', MSE)
rmse8 = np.sqrt(MSE)
print('rmse is:    ',rmse8)
f1_score8 = f1_score(y_test, y_pred8, average = 'weighted')
print("f1_score is:     ", f1_score8)
accuracy_score8 = accuracy_score(y_test, y_pred8)
print("accuracy_score is:     ", accuracy_score8)

[14:39:51] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
MSE:      0.32857142857142857
rmse is:     0.5732115042211109
f1_score is:      0.6710926775126325
accuracy_score is:      0.6714285714285714

In [37]:
Algo_names = ['log','Dt', 'RF', 'ADboost', 'Gradientboost', 'KNN', 'NB', 'SVM', 'xgboost']
f1_scores = [f1_score1,f1_score2,f1_score3,f1_score4,f1_score5,f1_score6,f1_score7,f1_score8,f1_score9]
rmse_list = [rmse1,rmse2,rmse3,rmse4,rmse5,rmse6,rmse7,rmse8,rmse9]
accuracy_scores = [accuracy_score1,accuracy_score2,accuracy_score3,accuracy_score4,accuracy_score5,
                  accuracy_score6,accuracy_score7,accuracy_score8,accuracy_score9]

In [38]:
evaluation = pd.DataFrame({'Model': Algo_names,'f1_score' : f1_scores,
                           'RMSE': rmse_list, 'accuracy_score' : accuracy_scores})
evaluation.sort_values(by = 'f1_score', ascending = False)

           Model  f1_score      RMSE  accuracy_score
2             RF  0.742296  0.507093        0.742857
3        ADboost  0.703820  0.543358        0.704762
4  Gradientboost  0.703820  0.543358        0.704762
7            SVM  0.671093  0.573212        0.671429
0            log  0.649538  0.589592        0.652381
1             Dt  0.617833  0.617213        0.619048
6             NB  0.606176  0.609449        0.628571
5            KNN  0.537875  0.679636        0.538095
8        xgboost  0.343969  0.700340        0.509524

In [39]:
submission = pd.read_csv('sample.csv')
model = abc
model.fit(X_train, y_train)
pred = model.predict(Test1)
Pred1 = np.where(pred > 0.5, "Yes", "No")
submission['Prediction'] = Pred1
submission.to_csv('RF70%model.csv', index = False)

In [40]:
print('f1_score:{:.2f} %'. format(f1_score3.mean()*100))

f1_score:74.23 %